html,
body,
#root {
  height: 100%;
}
.container {
  display: flex;
  flex-flow: column;
  height: 98%;
}
#banner {
  background-color: lightpink;
  padding: 1ex;
}
#output {
  flex: auto;
  overflow: scroll;
}
#output h2 {
  text-transform: capitalize;
}
form {
  flex: initial;
  margin-top: 8px;
}
textarea {
  width: 100%;
}
button {
  display: block;
}
#sandbox {
  display: none;
}
